/.idea
/infrastructure/docker/postgres/data/*
/infrastructure/docker/postgres/init/*
/src/vendor/*
/infrastructure/terraform/.terraform/*
/infrastructure/terraform/terraform.tfstate
/infrastructure/terraform/terraform.tfstate.*
/infrastructure/terraform/.terraform.tfstate.lock.info
