/.idea
/infrastructure/docker/mysql/data/*
/infrastructure/docker/mysql/init/*
/src/vendor/*
/infrastructure/terraform/.terraform/*
/infrastructure/terraform/terraform.tfstate
/infrastructure/terraform/terraform.tfstate.*
