/.idea
/infrastructure/docker/database/data/*
/infrastructure/docker/database/init/*
/src/vendor/*
/infrastructure/terraform/.terraform/*
/infrastructure/terraform/terraform.tfstate
/infrastructure/terraform/terraform.tfstate.*
/infrastructure/terraform/.terraform.tfstate.lock.info
/src/bin/*
/src/tmp/*
